<!DOCTYPE html>
<!-- Jordan Eriksen -->
<html>

<head>
    <meta charset="UTF-8" />
    <link rel="normalise" href="resources/normalize.css">
    <link rel="stylesheet" href="resources/screen.css">
    <link rel="icon" type="image/x-icon" href="resources/favicon.ico">
    <title>CatCam $cam_version</title>
</head>

<body>
    <script type="text/javascript">
    function togglediv(id) {
        var div = document.getElementById(id);
        div.style.display = div.style.display == "none" ? "block" : "none";
    }
    </script>
    <div id="menu_buttons">
        <a href="index.html">
            <button type="button">Camera</button>
        </a>
        <a href="utilisation.html">
            <button type="button">Utilisation</button>
        </a>
    </div>
    <header class="header">
        <div id="title">

            <h1>Report for Project $project</h1>
            <h4><i>Report generated $datestamp</i></h4>
                <p>$description<br><br></p>
                <p><b>Project lead: </b>$pl</p>
                <p><b>Client manager: </b>$cm</p>
                <p><b>Project reviewer: </b>$pr</p>
                <p></p>
                <p font-size="larger"><b>Next project review: </b>$next_review</p>
                <p></p>
        </div>
        <div id="logo">
            <a href="../index.html">
            <img src="../.resources/Springboard.png", alt="Springboard Pro logo">
            </a>
        </div>


    </header>

    <div id="summary_div">
        <div id="summary_table_1">
            <h3>Financial summary</h3>
            $financial_table
            <br>

            <h3>Timing summary</h3>
            $timing_table
            <br>

            <h3>Latest feedback</h3>
            <h4>$latest_feedback</h4><h4 id="enhance">$error</h4>
        </div>
        <div id="summary_graph">
            <img src='$project_graphic' alt="Graph of summary data">
            <img src='$project_spend_rate_graphic' alt="Graph of spend rate data">
        </div>
    </div>

    <div id="project_summaries">
        <h2>Invoices</h2>
        <div id="table_buttons">
            <button onclick="togglediv('invoices_hide')">Hide/Show</button>
            <a href="../.project_tables/$project _invoices_$master_datestamp.csv" download="$project Invoices $datestamp">
                <button type="button">Download (.csv)</button>
            </a>
        </div>
        <div id="invoices_hide">
            $invoices_table
        </div>
    </div>

    <div id="footer">
        <div id="footer_content">
            <p>CatCam $cam_version</p>
            <p>Created $timestamp</p>
        </div>
    </div>

</body>

</html>